{% extends 'base.html'%}

{% block Content %}

{% load static %}


    <div class="container">

      <form class="form-signin" role="form" action="login.php" method="post">
          <b>  <h2 class="form-signin-heading"><center>{{ name }}</h2><hr class="alert-danger" /></b>
        <br />
        <div class="form-group">
            <span class="label label-primary">User Name:</span>
        <select class="form-control" class="form-control" id="sel1" name="name" required>
       
       {% for u in Users  %}
                
        <option value="{{ u.username }}">{{ u.username }}
           </option  >
        {% endfor %}
     
           
          </select>
            <div> <br>
        <input type="password" class="form-control" placeholder="Password" name="passwd" required>
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

    {% endblock %}